force-app/main/default/flows/Alma_Product_LowStockAlert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <description>Creates a high priority Case when a Product Stock__c drops below 10 units for the first time (threshold crossing only). A Decision element checks that the prior value was >= 10 to avoid duplicate alerts.</description>
    <environments>Default</environments>
    <decisions>
        <name>Was_Above_Threshold</name>
        <label>Was Above Threshold?</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>No (Already Below 10)</defaultConnectorLabel>
        <rules>
            <name>Yes_Threshold_Crossed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Stock__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_AssignedUser</targetReference>
            </connector>
            <label>Yes (Threshold Crossed)</label>
        </rules>
    </decisions>
    <formulas>
        <name>CaseSubject</name>
        <dataType>String</dataType>
        <expression>"Low Stock Alert: " &amp; {!$Record.Name}</expression>
    </formulas>
    <formulas>
        <name>CaseDescription</name>
        <dataType>String</dataType>
        <expression>"El producto " &amp; {!$Record.Name} &amp; " tiene " &amp; TEXT({!$Record.Stock__c}) &amp; " unidades en stock. Se requiere reposición."</expression>
    </formulas>
    <interviewLabel>Alma Product Low Stock Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Alma - Product Low Stock Alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_LowStockCase</name>
        <label>Create Low Stock Case</label>
        <locationX>182</locationX>
        <locationY>368</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_AssignedUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CaseSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_AssignedUser</name>
        <label>Get Assigned User</label>
        <locationX>182</locationX>
        <locationY>260</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_LowStockCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ana.perez@alma-natural-cosmetics.dev</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Was_Above_Threshold</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stock__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </filters>
        <object>Product2</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
