force-app/main/default/flows/Update_Product_Stock_on_ORLI_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <description>After Save flow on Order Request Line Item (Create and Update). Keeps Product2.Stock__c in sync: subtracts Quantity__c on create, applies quantity delta on update (same product), swaps stock between old and new products when the product lookup changes.</description>
    <environments>Default</environments>
    <formulas>
        <name>Formula_PriorQty</name>
        <dataType>Number</dataType>
        <expression>BLANKVALUE({!$Record__Prior.Quantity__c}, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Formula_QtyDelta</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Quantity__c} - {!Formula_PriorQty}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Formula_NewCurrentStock</name>
        <dataType>Number</dataType>
        <expression>{!Get_CurrentProduct.Stock__c} - {!Formula_QtyDelta}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Formula_RestoredOldStock</name>
        <dataType>Number</dataType>
        <expression>{!Get_OldProduct.Stock__c} + {!Formula_PriorQty}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Formula_DeductedNewStock</name>
        <dataType>Number</dataType>
        <expression>{!Get_NewProduct.Stock__c} - {!$Record.Quantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Update Product Stock on ORLI Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Product Stock on ORLI Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <decisions>
        <name>Dec_ProductChanged</name>
        <label>Product Changed?</label>
        <locationX>176</locationX>
        <locationY>240</locationY>
        <defaultConnector>
            <targetReference>Get_CurrentProduct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Same Product (or Create)</defaultConnectorLabel>
        <rules>
            <name>Yes_Product_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Product__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OldProduct</targetReference>
            </connector>
            <label>Yes — Product Changed</label>
        </rules>
    </decisions>
    <recordLookups>
        <name>Get_CurrentProduct</name>
        <label>Get Current Product</label>
        <locationX>0</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Upd_CurrentProduct_Delta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OldProduct</name>
        <label>Get Old Product</label>
        <locationX>352</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Upd_OldProduct_Restore</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_NewProduct</name>
        <label>Get New Product</label>
        <locationX>352</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Upd_NewProduct_Deduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Upd_CurrentProduct_Delta</name>
        <label>Update Current Product Stock (Delta)</label>
        <locationX>0</locationX>
        <locationY>480</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stock__c</field>
            <value>
                <elementReference>Formula_NewCurrentStock</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <recordUpdates>
        <name>Upd_OldProduct_Restore</name>
        <label>Restore Old Product Stock</label>
        <locationX>352</locationX>
        <locationY>480</locationY>
        <connector>
            <targetReference>Get_NewProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Product__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stock__c</field>
            <value>
                <elementReference>Formula_RestoredOldStock</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <recordUpdates>
        <name>Upd_NewProduct_Deduct</name>
        <label>Deduct New Product Stock</label>
        <locationX>352</locationX>
        <locationY>720</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stock__c</field>
            <value>
                <elementReference>Formula_DeductedNewStock</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Dec_ProductChanged</targetReference>
        </connector>
        <object>OrderRequestLineItem__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
